@model CakeDistribution.Models.Dessert.DessertDetail

@{
    ViewBag.Title = "Details";
}

<h2>Dessert Details</h2>

<div>
    <h4>DessertDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DessertId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DessertId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DessertName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DessertName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.DessertId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
